Repository tatavoSenna/baseflask: changes, and which GitLab CI jobs are due for each by the changed paths.
All: black, eslint

black:
  stage: black
  allow_failure: false
  script:
  - curl https://bootstrap.pypa.io/get-pip.py -o get-pip.py
  - python3 get-pip.py
  - pip3 install black
  - black --check ./server

eslint:
  stage: eslint
  image: node:latest
  allow_failure: false
  script:
  - cd front
  - yarn add node-sass
  - yarn add eslint --dev
  - yarn add -D prettier eslint-plugin-prettier eslint-config-prettier
  - yarn run eslint . --max-warnings=0

BUGFIX - Fix misalignment between data and fields in answer selector
  front/src/states/modules/answer/selectors.js
Due: eslint

LAW-631: Adding deleted users once again
  server/app/users/blueprint.py
  server/app/users/controllers.py
  server/app/users/remote.py
Due: black

Remove sending email
  server/app/documents/controllers.py
Due: black

Fix
  server/app/users/remote.py
Due: black

Change return value of duplicate template
  server/app/templates/blueprint.py
Due: black

Update duplication process
  server/app/templates/blueprint.py
  server/app/templates/controllers.py
Due: black

Fix
  server/app/templates/blueprint.py
Due: black

Fix string
  server/app/templates/controllers.py
Due: black

Fix workflow duplication
  server/app/templates/controllers.py
Due: black

LAW-651 - fazendo a duplicacao de template no front
  front/src/components/addressField/fields/index.module.scss
  front/src/components/duplicateConfirm/index.js
  front/src/components/personField/legalPerson/index.module.scss
  front/src/components/personField/naturalPerson/index.module.scss
  front/src/pages/templates/columns.js
  front/src/pages/templates/components/duplicateTemplateModal.js
  front/src/pages/templates/index.js
  front/src/states/modules/templates/index.js
  front/src/states/modules/templates/sagas.js
Due: eslint

Remove import
  server/app/templates/controllers.py
Due: black

Law 101 - Delete multiple documents
  server/app/documents/blueprint.py
  server/app/documents/controllers.py
  server/app/migrations/versions/4ed7a9eb6cbb_.py
  server/app/migrations/versions/8c73256c0bfc_.py
  server/app/models/documents.py
  server/app/templates/blueprint.py
  server/app/templates/controllers.py
Due: black

Allow list all on company list endpoint
  server/app/company/blueprint.py
Due: black

Law 620 - Implement subfield conditionals
  front/src/components/addressField/fields/index.js
  front/src/components/cepField/index.js
  front/src/components/cityField/index.js
  front/src/components/cnpjField/index.js
  front/src/components/cpfField/index.js
  front/src/components/emailField/index.js
  front/src/components/inputFactory/index.js
  front/src/components/personField/index.js
  front/src/components/personField/legalPerson/index.js
  front/src/components/personField/naturalPerson/components/personPropertyRegime.js
  front/src/components/personField/naturalPerson/index.js
  front/src/components/textAreaField/index.js
  front/src/components/textField/index.js
  front/src/pages/editTemplate/components/form/index.js
  front/src/pages/editTemplate/components/form/widgets/base/widgetConditional.js
  front/src/states/modules/editTemplate/selectors.js
  front/src/states/modules/question/index.js
Due: eslint

quickfix listagem das empresas
  front/src/components/duplicateConfirm/index.js
  front/src/pages/templates/columns.js
  front/src/pages/templates/components/duplicateTemplateModal.js
  front/src/pages/templates/index.js
  front/src/states/modules/companies/sagas.js
  front/src/states/modules/templates/sagas.js
Due: eslint

LAW 544 - Implement address widget
  front/src/pages/editTemplate/components/form/page.js
  front/src/pages/editTemplate/components/form/widgets/addressWidget.js
  front/src/pages/editTemplate/components/form/widgets/base/widget.js
  front/src/pages/editTemplate/components/form/widgets/base/widgetCommonFields.js
Due: eslint

LAW 633 - Remove file field
  front/src/components/fileField/index.js
  front/src/components/inputFactory/index.js
  front/src/pages/editTemplate/components/form/page.js
  front/src/states/modules/fileField/index.js
  front/src/states/modules/fileField/sagas.js
  front/src/states/store.js
Due: eslint

Fix issue with old user creating new company
  server/app/company/controllers.py
Due: black

Reactivation of document and template
  server/app/documents/blueprint.py
  server/app/documents/controllers.py
  server/app/templates/controllers.py
Due: black

LAW-557: Implementing time field
  front/src/components/timeField/index.js
  front/src/pages/editTemplate/components/form/page.js
  front/src/pages/editTemplate/components/form/widgets/base/widget.js
  front/src/pages/editTemplate/components/form/widgets/timeWidget.js
  front/src/states/modules/answer/selectors.js
  front/src/utils/validations/index.js
  server/app/documents/formatters/time_formatter.py
  server/app/documents/formatters/variables_formatter.py
Due: black, eslint

LAW-651-fix trocar a label de template para empresa no modal de duplicacao de template
  front/src/pages/templates/components/duplicateTemplateModal.js
Due: eslint

LAW 648 - Allow list/checkbox variables as conditions
  front/src/pages/editTemplate/components/form/widgets/base/widgetConditional.js
  front/src/pages/editTemplate/components/form/widgets/checkboxWidget.js
  front/src/pages/editTemplate/components/form/widgets/currencyWidget.js
  front/src/pages/editTemplate/components/form/widgets/numberWidget.js
  front/src/pages/editTemplate/components/form/widgets/textWidget.js
  front/src/states/modules/question/index.js
Due: eslint

LAW-649-fix corrigindo posicao em bairro do template no questionario
  front/src/components/addressField/fields/index.module.scss
  front/src/components/addressField/fields/utils/dictsImport.js
  front/src/pages/editTemplate/components/form/page.js
  front/src/pages/editTemplate/components/form/widgets/addressWidget.js
Due: eslint

LAW 696 - Fix dropdownField not updating conditionals after changing
  front/src/components/dropdownField/index.js
Due: eslint

LAW 662 - Sort variables displayed in widgetConditional
  front/src/pages/editTemplate/components/form/widgets/base/widgetConditional.js
Due: eslint

LAW 660 - Fix empty initialValue being assigned to newly added option in the dropdown Widget
  front/src/pages/editTemplate/components/form/widgets/dropdownWidget.js
Due: eslint

LAW 674 - widget de parágrafo
  front/src/pages/editTemplate/components/form/page.js
  front/src/pages/editTemplate/components/form/widgets/paragraphWidget.js
Due: eslint

[LAW-688] Upload document to D4Sign as PDF
  server/app/d4sign/API/api.py
  server/app/d4sign/controllers.py
Due: black

LAW-666 - widget de cpf e cnpj
  front/src/pages/editTemplate/components/form/page.js
  front/src/pages/editTemplate/components/form/widgets/CnpjWidget.js
  front/src/pages/editTemplate/components/form/widgets/CpfWidget.js
  front/src/pages/editTemplate/components/form/widgets/base/styles.js
Due: eslint

LAW 667 - Implement CNAE widget
  front/src/pages/editTemplate/components/form/page.js
  front/src/pages/editTemplate/components/form/widgets/cnaeWidget.js
Due: eslint

Allow documents with same name to be added into folder
  server/app/documents/blueprint.py
Due: black

LAW 696 - Fix dropdown and other fields that use dropdowns as input
  front/src/components/bankField/index.js
  front/src/components/cityField/index.js
  front/src/components/cnaeField/index.js
  front/src/components/stateField/index.js
Due: eslint

[LAW-688] Upload document to D4Sign as PDF
  server/app/d4sign/controllers.py
  server/app/documents/blueprint.py
Due: black

LAW 673 - Implement database (API) widget
  front/src/components/databaseField/index.js
  front/src/pages/editTemplate/components/form/page.js
  front/src/pages/editTemplate/components/form/widgets/databaseWidget.js
Due: eslint

Law 675
  server/app/documents/blueprint.py
  server/app/documents/controllers.py
  server/app/documents/tests/document_creation_test.py
  server/app/documents/tests/document_test.py
  server/app/migrations/versions/a23f2402d690_.py
  server/app/models/documents.py
  server/app/templates/tests/templates_test.py
Due: black

LAW 679 - Allow users to select and delete multiple documents
  front/src/components/dataTable/index.js
  front/src/components/deleteConfirm/index.js
  front/src/pages/contracts/columns.js
  front/src/pages/contracts/index.js
  front/src/states/modules/contract/index.js
  front/src/states/modules/contract/sagas.js
Due: eslint

Path conditions:
  black: any of: **/*.py
  eslint: any of: **/*.js
