Repository tatavoSenna/baseflask: changes, and which GitLab CI jobs are due for each by the changed paths.
All: black, eslint

black:
  stage: black
  allow_failure: false
  script:
  - curl https://bootstrap.pypa.io/get-pip.py -o get-pip.py
  - python3 get-pip.py
  - pip3 install black
  - black --check ./server

eslint:
  stage: eslint
  image: node:latest
  allow_failure: false
  script:
  - cd front
  - yarn add node-sass
  - yarn add eslint --dev
  - yarn add -D prettier eslint-plugin-prettier eslint-config-prettier
  - yarn run eslint . --max-warnings=0

Change incomplete doc status from Assinado x/y to Assinando x/y
  server/app/d4sign/controllers.py
Due: black

Law hotfix
  front/src/pages/documentDetails/components/tabs/index.js
Due: eslint

LAW-fix - retirando codigo nao usado
  front/src/pages/settings/components/companyConfiguration/index.js
  front/src/pages/templates/columns.js
Due: eslint

LAW 586 - Fix date variables being stored as UTC instead of local timezone in redux
  front/src/states/modules/answer/selectors.js
Due: eslint

LAW-596 - resolvendo o problema do campo de data aparecer com a data errada após criar o documento
  front/src/components/dateField/index.js
  front/src/components/formFactory/index.js
  front/src/components/textField/index.js
  front/src/pages/documentDetails/components/tabs/components/textTemplate/dateFieldText.js
  front/src/pages/documentDetails/components/tabs/components/textTemplate/styles/style.js
  front/src/pages/documentDetails/components/tabs/index.js
  front/src/utils/validations/index.js
Due: eslint

LAW - 538 - Change default app email
  server/app/documents/controllers.py
  server/app/documents/tests/document_creation_test.py
  server/app/documents/tests/document_test.py
Due: black

LAW-602 - Add new structured list formatter to accept numbering
  server/app/documents/formatters/structured_list_formatter.py
  server/app/documents/formatters/variables_formatter.py
Due: black

LAW-613: Filtering folders by company_id on creation
  server/app/documents/blueprint.py
Due: black

LAW-606: Blocking creation of template with repeated name
  server/app/templates/controllers.py
Due: black

Import all models when using flask shell
  server/wsgi.py
Due: black

LAW-567: Better control of remaining documents
  front/src/pages/contracts/index.js
Due: eslint

Law - 610 - Duplicate template
  server/app/templates/blueprint.py
  server/app/templates/controllers.py
Due: black

LAW-611 pre-preenchimento de nomes de assinantes
  front/src/components/autocompleteField/index.js
  front/src/components/emailField/index.js
  front/src/pages/documentDetails/components/tabs/assignModal.js
  front/src/pages/documentDetails/index.js
Due: eslint

LAW-582: Removing image from info bar
  server/app/serializers/document_serializers.py
Due: black

LAW-623 - trocando os campos para dropdown e filtrando cidade a partir de estado
  front/src/components/addressField/fields/components/addressCEP.js
  front/src/components/addressField/fields/components/addressCity.js
  front/src/components/addressField/fields/components/addressState.js
  front/src/components/addressField/fields/index.js
  front/src/components/addressField/index.js
  front/src/components/cepField/index.js
  front/src/components/cityField/index.js
  front/src/components/inputFactory/index.js
  front/src/components/personField/attorneyField/attorneyCEP.js
  front/src/components/personField/index.js
  front/src/components/personField/legalPerson/index.js
  front/src/components/personField/naturalPerson/index.js
  front/src/components/personField/personAddress/addressCEP.js
  front/src/pages/documentDetails/components/tabs/components/docxTemplate/addressField.js
  front/src/pages/documentDetails/components/tabs/index.js
  front/src/states/modules/cityField/index.js
  front/src/states/modules/cityField/selectors.js
  front/src/states/modules/stateField/index.js
  front/src/states/modules/stateField/selectors.js
  front/src/utils/validations/index.js
Due: eslint

LAW-643 - Permitir remover valor de campos opcionais
  front/src/components/checkboxField/index.js
  front/src/components/dateField/index.js
  front/src/components/dropdownField/index.js
  front/src/components/dropdownField/index.module.scss
  front/src/components/formFactory/index.js
  front/src/components/infoField/index.js
  front/src/components/inputFactory/index.js
  front/src/components/radioField/index.js
  front/src/components/radioField/index.module.scss
Due: eslint

LAW-614
  server/app/documents/formatters/person_variable_text.py
Due: black

LAW-609 Improve template editor performance
  front/src/components/Header/index.js
  front/src/components/mainLayout/index.js
  front/src/components/sidebar/index.js
  front/src/pages/editTemplate/components/form/index.js
  front/src/pages/editTemplate/components/form/page.js
  front/src/pages/editTemplate/components/form/widgets/bankWidget.js
  front/src/pages/editTemplate/components/form/widgets/base/styles.js
  front/src/pages/editTemplate/components/form/widgets/base/widget.js
  front/src/pages/editTemplate/components/form/widgets/base/widgetCard.js
  front/src/pages/editTemplate/components/form/widgets/base/widgetConditional.js
  front/src/pages/editTemplate/components/form/widgets/checkboxWidget.js
  front/src/pages/editTemplate/components/form/widgets/currencyWidget.js
  front/src/pages/editTemplate/components/form/widgets/dateWidget.js
  front/src/pages/editTemplate/components/form/widgets/dropdownWidget.js
  front/src/pages/editTemplate/components/form/widgets/emailWidget.js
  front/src/pages/editTemplate/components/form/widgets/jsonWidget.js
  front/src/pages/editTemplate/components/form/widgets/numberWidget.js
  front/src/pages/editTemplate/components/form/widgets/radioWidget.js
Due: eslint

LAW 426 - Create database field component
  front/src/components/databaseField/index.js
  front/src/components/dropdownField/index.js
  front/src/components/inputFactory/index.js
  front/src/states/modules/databaseField/index.js
  front/src/states/modules/databaseField/sagas.js
  front/src/states/store.js
Due: eslint

LAW-hotfix alteracao no dropdown
  front/src/components/dropdownField/index.js
Due: eslint

LAW-Dropfix - corrigindo bug de limpar dropdowns de endereco e pessoa
  front/src/components/cityField/index.js
  front/src/components/personField/naturalPerson/components/personPropertyRegime.js
  front/src/components/stateField/index.js
Due: eslint

Fix format on duplication function
  server/app/templates/controllers.py
Due: black

LAW 628 FIX - Fix bank widget not reading current initialValue
  front/src/pages/editTemplate/components/form/widgets/bankWidget.js
Due: eslint

LAW-hotfix concertando um bug no checkbox
  front/src/components/formFactory/index.js
Due: eslint

LAW 624 - Remove slider field
  front/src/components/inputFactory/index.js
  front/src/components/sliderField/index.js
  front/src/pages/editTemplate/components/form/page.js
Due: eslint

LAW 656 - Remove city and state from new field list
  front/src/pages/editTemplate/components/form/page.js
Due: eslint

LAW-647 - retirando o pre preenchimento da label de pessoa e endereco
  front/src/pages/editTemplate/components/form/page.js
Due: eslint

LAW-626 - padronizando o icone da pasta com o da lixeira
  front/src/components/deleteConfirm/index.js
  front/src/pages/contracts/columns.js
Due: eslint

LAW-645 - fazendo com que o nome do template nao se torne vazio ao clicar em editar sem altera-lo
  front/src/pages/editTemplate/index.js
Due: eslint

LAW-592 - fazendo com que o botao de enter seja desabilitado no formulario
  front/src/components/formFactory/index.js
Due: eslint

Remove prints
  server/app/documents/blueprint.py
  server/app/docusign/services.py
  server/app/list_envelope.py
  server/app/users/remote.py
Due: black

LAW 593 - Use number field increment value when incrementing the range
  front/src/pages/editTemplate/components/form/widgets/numberWidget.js
Due: eslint

Update template with new sns variable
  devops/cf-templates/templates/service.yaml
  server/.env.sample
Due: none

LAW-info - fazendo o txt e o docx iguais na aba info e retirando a edicao do docx
  front/src/components/addressField/fields/index.js
  front/src/components/personField/index.js
  front/src/components/personField/legalPerson/index.js
  front/src/components/personField/naturalPerson/index.js
  front/src/pages/documentDetails/components/tabs/components/docxTemplate/addressField.js
  front/src/pages/documentDetails/components/tabs/components/docxTemplate/personField.js
  front/src/pages/documentDetails/components/tabs/components/docxTemplate/styles/style.js
  front/src/pages/documentDetails/components/tabs/components/structuredList.js
  front/src/pages/documentDetails/components/tabs/components/textTemplate/addressFieldText.js
  front/src/pages/documentDetails/components/tabs/components/textTemplate/utils/dictsImport.js
  front/src/pages/documentDetails/components/tabs/index.js
  front/src/pages/documentDetails/components/tabs/infoView/components/addressFieldText.js
  front/src/pages/documentDetails/components/tabs/infoView/components/dateFieldText.js
  front/src/pages/documentDetails/components/tabs/infoView/components/personFieldText.js
  front/src/pages/documentDetails/components/tabs/infoView/components/structureListFieldText.js
  front/src/pages/documentDetails/components/tabs/infoView/components/styles/style.js
  front/src/pages/documentDetails/components/tabs/infoView/components/utils/dictsImport.js
  front/src/pages/documentDetails/components/tabs/infoView/index.js
  front/src/pages/documentDetails/index.js
  front/src/pages/editTemplate/components/form/page.js
  front/src/states/modules/documentDetail/selectors.js
  server/app/serializers/document_serializers.py
Due: black, eslint

LAW-649 - adicionando campo bairro e nacionalidade
  front/src/components/addressField/fields/components/addressDistrict.js
  front/src/components/addressField/fields/index.js
  front/src/components/addressField/fields/index.module.scss
  front/src/components/addressField/fields/utils/dictsImport.js
  front/src/components/personField/attorneyField/attoneyNationality.js
  front/src/components/personField/components/CPF.js
  front/src/components/personField/legalPerson/components/legalNationality.js
  front/src/components/personField/legalPerson/index.module.scss
  front/src/components/personField/legalPerson/utils/dictsImport.js
  front/src/components/personField/naturalPerson/components/personNationality.js
  front/src/components/personField/naturalPerson/index.module.scss
  front/src/components/personField/naturalPerson/utils/dictsImport.js
  front/src/pages/editTemplate/components/form/page.js
Due: eslint

Revert "Merge branch 'LAW-info' into 'dev'"
  front/src/components/addressField/fields/index.js
  front/src/components/personField/index.js
  front/src/components/personField/legalPerson/index.js
  front/src/components/personField/naturalPerson/index.js
  front/src/pages/documentDetails/components/tabs/components/docxTemplate/addressField.js
  front/src/pages/documentDetails/components/tabs/components/docxTemplate/personField.js
  front/src/pages/documentDetails/components/tabs/components/docxTemplate/styles/style.js
  front/src/pages/documentDetails/components/tabs/components/structuredList.js
  front/src/pages/documentDetails/components/tabs/components/textTemplate/addressFieldText.js
  front/src/pages/documentDetails/components/tabs/components/textTemplate/dateFieldText.js
  front/src/pages/documentDetails/components/tabs/components/textTemplate/personFieldText.js
  front/src/pages/documentDetails/components/tabs/components/textTemplate/styles/style.js
  front/src/pages/documentDetails/components/tabs/components/textTemplate/utils/dictsImport.js
  front/src/pages/documentDetails/components/tabs/index.js
  front/src/pages/documentDetails/components/tabs/infoView/components/addressFieldText.js
  front/src/pages/documentDetails/components/tabs/infoView/components/structureListFieldText.js
  front/src/pages/documentDetails/components/tabs/infoView/components/utils/dictsImport.js
  front/src/pages/documentDetails/components/tabs/infoView/index.js
  front/src/pages/documentDetails/index.js
  front/src/pages/editTemplate/components/form/page.js
  front/src/states/modules/documentDetail/selectors.js
  server/app/serializers/document_serializers.py
Due: black, eslint

Fix issue with info tab
  server/app/serializers/document_serializers.py
Due: black

LAW-hotfix-0 corrigindo erros do front
  front/src/components/autocompleteField/index.js
  front/src/pages/documentDetails/components/tabs/assignModal.js
Due: eslint

Path conditions:
  black: any of: **/*.py
  eslint: any of: **/*.js
