Repository tatavoSenna/baseflask: changes, and which GitLab CI jobs are due for each by the changed paths.
All: black, eslint

.gitlab-ci.yml:

stages:
  - black
  - eslint
  - test
  - staging

black:
  stage: black
  allow_failure: false
  script:
    - curl https://bootstrap.pypa.io/get-pip.py -o get-pip.py
    - python3 get-pip.py
    - pip3 install black
    - black --check ./server
  rules:
    - if: '$CI_PIPELINE_SOURCE == "merge_request_event"'
      changes:
        - "**/*.py"

eslint:
  stage: eslint
  image: node:latest
  allow_failure: false
  script:
    - cd front
    - yarn add node-sass
    - yarn add eslint --dev
    - yarn add -D prettier eslint-plugin-prettier eslint-config-prettier
    - yarn run eslint . --max-warnings=0
  rules:
    - if: '$CI_PIPELINE_SOURCE == "merge_request_event"'
      changes:
        - "**/*.js"

merge_into_staging:
  stage: staging
  script:
    - curl https://bootstrap.pypa.io/get-pip.py -o get-pip.py
    - python3 get-pip.py
    - pip3 install GitPython
    - pip3 install --upgrade python-gitlab
    - python3 ./devops/staging.py
  only:
    - merge_requests
    - dev

move message call to saga rather than inside an useEffect
  front/src/pages/documentDetails/components/tabs/index.js
  front/src/states/modules/documentDetail/sagas.js
Due: eslint

Fixes W spacing in logo.svg
  front/src/assets/logo.svg
Due: none

Law 738
  front/src/components/personField/legalPerson/index.module.scss
  front/src/pages/documentDetails/components/tabs/index.js
  front/src/pages/documentDetails/components/tabs/infoView/index.js
  server/app/documents/blueprint.py
  server/app/documents/controllers.py
Due: black, eslint

LAW-501 - Autocomplete CEP
  front/src/components/addressField/fields/components/addressDistrict.js
  front/src/components/addressField/fields/components/addressStreet.js
  front/src/components/addressField/fields/index.js
  front/src/components/addressField/fields/utils/addressChanges.js
  front/src/components/addressField/index.js
  front/src/components/cepField/index.js
  front/src/components/cityField/index.js
  front/src/components/personField/legalPerson/index.js
  front/src/components/personField/legalPerson/index.module.scss
  front/src/components/personField/legalPerson/utils/dictsImport.js
  front/src/components/personField/naturalPerson/index.js
  front/src/components/personField/naturalPerson/index.module.scss
  front/src/components/personField/naturalPerson/utils/dictsImport.js
  front/src/components/stateField/index.js
  front/src/states/modules/addressField/index.js
  front/src/states/modules/addressField/sagas.js
  front/src/states/modules/cityField/index.js
  front/src/states/modules/cityField/selectors.js
  front/src/states/modules/stateField/selectors.js
  front/src/states/store.js
Due: eslint

LAW 753 - Allow internalDatabaseField items to be reordered
  front/package.json
  front/src/components/internalDatabaseField/index.js
  front/src/pages/documentDetails/components/tabs/infoView/index.js
  front/yarn.lock
Due: eslint

LAW-734 cancel document via d4sign API
  front/src/pages/documentDetails/components/tabs/index.js
  front/src/pages/documentDetails/index.js
  front/src/states/modules/documentDetail/index.js
  front/src/states/modules/documentDetail/sagas.js
  server/app/d4sign/API/api.py
  server/app/d4sign/blueprint.py
  server/app/d4sign/controllers.py
Due: black, eslint

Fix eslint warning
  front/src/pages/documentDetails/components/tabs/index.js
Due: eslint

LAW-758 removendo a palavra parte na aba de assinantes no detalhe de documento
  front/src/pages/documentDetails/components/tabs/assignModal.js
  front/src/pages/documentDetails/components/tabs/index.js
Due: eslint

LAW 763 - Rename templates to models in texts and routes
  front/src/App.routes.js
  front/src/components/duplicateConfirm/index.js
  front/src/components/sidebar/index.js
  front/src/pages/contracts/columns.js
  front/src/pages/documentDetails/components/tabs/index.js
  front/src/pages/editTemplate/index.js
  front/src/pages/templates/columns.js
  front/src/pages/templates/components/duplicateTemplateModal.js
  front/src/pages/templates/components/modal.js
  front/src/pages/templates/index.js
  front/src/states/modules/editTemplate/sagas.js
  front/src/states/modules/templates/sagas.js
Due: eslint

Law 773
  front/src/pages/documentDetails/components/tabs/infoView/index.js
Due: eslint

LAW 762 - Implement image widget
  front/src/components/imageField/index.js
  front/src/components/imageUpload/index.js
  front/src/pages/documentDetails/components/tabs/index.js
  front/src/pages/editTemplate/components/form/widgets/imageWidget.js
  front/src/pages/editTemplate/components/form/widgets/index.js
Due: eslint

LAW-720-FIX - Fix json widget calling onUpdate callback incorrectly after structured list refactoring
  front/src/pages/editTemplate/components/form/widgets/jsonWidget.js
Due: eslint

LAW-780 reajustando o tamanho do cpf
  front/src/components/personField/legalPerson/index.module.scss
  front/src/components/personField/naturalPerson/index.module.scss
Due: none

Law 765
  server/app/internal_database/blueprint.py
  server/app/internal_database/controllers.py
  server/app/internal_database/tests/internal_database_test.py
  server/app/serializers/internal_database.py
Due: black

LAW 735 - Add tags filter to InternalDatabase widget
  front/src/pages/editTemplate/components/form/widgets/internalDatabaseWidget.js
  front/src/states/modules/databases/index.js
  front/src/states/modules/databases/sagas.js
  front/src/states/modules/databases/selectors.js
Due: eslint

LAW 768 - Add image field to InfoView
  front/src/pages/documentDetails/components/tabs/infoView/components/defaultText.js
  front/src/pages/documentDetails/components/tabs/infoView/components/imageFieldText.js
  front/src/pages/documentDetails/components/tabs/infoView/index.js
Due: eslint

LAW 770 - Support multiple images in image field
  front/src/components/imageField/index.js
  front/src/components/imageUpload/index.js
  front/src/pages/editTemplate/components/form/fieldStructure.js
  front/src/pages/editTemplate/components/form/widgets/imageWidget.js
  front/src/states/modules/editContract/sagas.js
  server/app/documents/controllers.py
Due: black, eslint

Law/733
  front/public/index.html
  front/src/components/dataTable/index.js
  front/src/components/personField/naturalPerson/index.module.scss
  front/src/components/sidebar/index.js
  front/src/pages/contracts/columns.js
  front/src/pages/contracts/index.js
  front/src/pages/editTemplate/index.js
  front/src/pages/templates/columns.js
  front/src/pages/templates/index.js
  front/src/pages/users/columns.js
  front/src/pages/users/index.js
  front/src/states/modules/users/index.js
  front/src/states/modules/users/sagas.js
  front/src/states/modules/users/selectors.js
  server/app/company/controllers.py
  server/app/documents/blueprint.py
  server/app/migrations/versions/192f329113f9_add_is_company_admin_collumn_to_user_.py
  server/app/models/user.py
  server/app/templates/blueprint.py
  server/app/users/blueprint.py
  server/app/users/controllers.py
  server/app/users/remote.py
Due: black, eslint

HOTFIX for page not loading rright after login
  front/src/components/redirectNewUser/index.js
  front/src/pages/documentDetails/components/tabs/index.js
Due: eslint

Dev
  front/src/pages/databaseDetails/components/databaseTextEditor.js
  server/app/documents/formatters/internal_database_formatter.py
Due: black, eslint

Dev
  devops/cf-templates/lawing-master-template.yaml
  devops/cf-templates/templates/deployment-pipeline-front.yaml
  devops/cf-templates/templates/metabaseservice.yaml
  devops/cf-templates/templates/service.yaml
  devops/update-dev-infra.sh
  devops/update-prod-infra.sh
  front/.env.sample
  front/package.json
  front/src/App.routes.js
  front/src/components/numberField/index.js
  front/src/components/pdfFileReader/index.js
  front/src/components/personField/index.js
  front/src/components/personField/legalPerson/index.js
  front/src/components/personField/legalPerson/utils/cnpjAutocomplete.js
  front/src/components/personField/naturalPerson/index.module.scss
  front/src/components/sidebar/index.js
  front/src/components/textAreaField/index.js
  front/src/pages/documentDetails/components/editor/index.module.scss
  front/src/pages/documentDetails/components/tabs/index.js
  front/src/pages/documentDetails/components/tabs/infoView/components/addressFieldText.js
  front/src/pages/documentDetails/components/tabs/infoView/components/checkboxFieldText.js
  front/src/pages/documentDetails/components/tabs/infoView/components/databaseFieldText.js
  front/src/pages/documentDetails/components/tabs/infoView/components/dateFieldText.js
  front/src/pages/documentDetails/components/tabs/infoView/components/defaultText.js
  front/src/pages/documentDetails/components/tabs/infoView/components/imageFieldText.js
  front/src/pages/documentDetails/components/tabs/infoView/components/personFieldText.js
  front/src/pages/documentDetails/components/tabs/infoView/components/utils/dictsImport.js
  front/src/pages/documentDetails/components/tabs/infoView/index.js
  front/src/pages/documentDetails/components/tabs/styles.js
  front/src/pages/documentDetails/index.js
  front/src/pages/documentation/index.js
  front/src/pages/documentation/swagger.json
  front/src/pages/editTemplate/components/text/editor/index.module.scss
  front/yarn.lock
  utilities/copy_template.ipynb
  utilities/documents.py
  utilities/requirements.txt
Due: black, eslint

Enhance production server capacity
  devops/cf-templates/lawing-master-template.yaml
  devops/cf-templates/templates/service.yaml
  devops/update-prod-infra.sh
  server/Pipfile
  server/Pipfile.lock
  server/devops/docker-entrypoint.sh
Due: none

Add Try/Except to new document sns publication
  server/app/documents/controllers.py
Due: black

LAW-783 Fix images overflowing in document details info
  front/src/pages/documentDetails/components/tabs/infoView/components/imageFieldText.js
Due: eslint

LAW-796 - trocando o lugar do botao opcional para que o titulo ganhe mais espaco
  front/src/components/numberField/index.js
  front/src/pages/documentDetails/components/tabs/infoView/index.js
  front/src/pages/editTemplate/components/form/widgets/base/widgetCommonFields.js
Due: eslint

Log de debug
  server/devops/docker-entrypoint.sh
  server/docker-compose.yml
Due: none

LAW-802 - fazendo com que o botão de assinatura apareça, apenas se todos os campos tiverem preenchidos
  devops/cf-templates/templates/service.yaml
  front/src/pages/documentDetails/components/tabs/index.js
  front/src/pages/documentDetails/components/tabs/infoView/index.js
Due: eslint

Dev
  front/src/pages/documentDetails/components/tabs/index.js
Due: eslint

Adjust gunicorn timeout settings
  server/devops/docker-entrypoint.sh
Due: none

LAW-830-v2 - fazendo com que a variavel apareca no ckeditor e que ela sempre seja maiuscula, com os espacos virando underscore
  front/src/components/mainLayout/index.js
  front/src/components/sidebar/index.js
  front/src/pages/documentDetails/components/editor/index.js
  front/src/pages/documentDetails/components/editor/styles.css
  front/src/pages/editTemplate/components/form/fieldStructure.js
  front/src/pages/editTemplate/components/form/index.js
  front/src/pages/editTemplate/components/form/page.js
  front/src/pages/editTemplate/components/form/widgets/base/styles.js
  front/src/pages/editTemplate/components/text/editor/index.js
  front/src/pages/editTemplate/components/text/editor/index.module.scss
  front/src/pages/editTemplate/components/text/editor/styles.css
  front/src/pages/editTemplate/components/text/index.js
  front/src/pages/editTemplate/components/text/modal/addVariableModal.js
  front/src/pages/editTemplate/index.js
  front/src/pages/editTemplate/index.module.scss
Due: eslint

Fix CI and raise memory on ecs containers
  .gitlab-ci.yml
  devops/cf-templates/templates/service.yaml
  devops/update-dev-infra.sh
  devops/update-prod-infra.sh
Due: none

HOTFIX - es lint
  front/src/pages/editTemplate/index.module.scss
Due: none

LAW-822 - aumentando a caixa de edicao de nome de template
  front/src/components/breadCrumb/index.js
  front/src/pages/editTemplate/index.js
Due: eslint

LAW-838 Modify structured list to use variable name as identifier
  front/src/components/structuredList/index.js
  front/src/pages/documentDetails/components/tabs/infoView/index.js
  front/src/states/modules/answer/selectors.js
  front/src/states/modules/editTemplate/sagas.js
  front/src/states/modules/editTemplate/selectors.js
  server/app/documents/formatters/structured_list_formatter.py
  server/app/documents/formatters/variables_formatter.py
Due: black, eslint

LAW-827 - movendo o botao de edicao de documento para o lado do botao de download
  front/src/pages/documentDetails/components/editor/index.js
  front/src/pages/documentDetails/components/editor/index.module.scss
  front/src/pages/documentDetails/components/editor/styles.css
  front/src/pages/documentDetails/components/headerButtons.js
  front/src/pages/documentDetails/components/tabs/index.js
  front/src/pages/documentDetails/components/tabs/infoView/index.js
  front/src/pages/documentDetails/components/tabs/styles.js
  front/src/pages/documentDetails/index.js
Due: eslint

Adjust api varible treatment
  server/app/documents/formatters/variables_formatter.py
Due: black

LAW-826 - adicionando loading no cnpj e em endereco
  front/src/components/addressField/fields/index.js
  front/src/components/addressField/fields/utils/addressChanges.js
  front/src/components/addressField/index.js
  front/src/components/personField/index.js
  front/src/components/personField/legalPerson/index.js
  front/src/components/personField/legalPerson/utils/cnpjAutocomplete.js
  front/src/components/personField/naturalPerson/index.js
Due: eslint

LAW-831 Don't send hidden form variables to back
  front/src/components/formFactory/index.js
  front/src/pages/addContract/index.js
  front/src/pages/addContractExternal/index.js
  front/src/pages/editDocument/index.js
  front/src/states/modules/answer/sagas.js
  front/src/states/modules/answer/selectors.js
  front/src/states/modules/externalContract/sagas.js
  front/src/states/modules/question/sagas.js
Due: eslint
