Repository tatavoSenna/baseflask: changes, and which GitLab CI jobs are due for each by the changed paths.
All: black, eslint

black:
  stage: black
  allow_failure: false
  script:
  - curl https://bootstrap.pypa.io/get-pip.py -o get-pip.py
  - python3 get-pip.py
  - pip3 install black
  - black --check ./server

eslint:
  stage: eslint
  image: node:latest
  allow_failure: false
  script:
  - cd front
  - yarn add node-sass
  - yarn add eslint --dev
  - yarn add -D prettier eslint-plugin-prettier eslint-config-prettier
  - yarn run eslint . --max-warnings=0

LAW-571 - campos initialValue, row_template, doc_display_style e info removidos
  front/src/components/personField/index.js
  front/src/pages/editTemplate/components/form/page.js
  server/app/documents/formatters/variables_formatter.py
Due: black, eslint

LAW-576: Filtering email list according to user active status
  server/app/documents/controllers.py
Due: black

LAW-580 - Fix documentDetails tabs flickering and document not scrolling
  front/src/pages/documentDetails/components/editor/index.js
  front/src/pages/documentDetails/components/tabs/index.js
  front/src/pages/documentDetails/index.js
Due: eslint

Treat case where responsible_users is a list of dicts
  server/app/workflow/services.py
Due: black

LAW-559 - aplicando validacao no nome da template e desabilitando o botao de...
  front/src/pages/editTemplate/index.js
Due: eslint

Remove unused import
  front/src/pages/editTemplate/index.js
Due: eslint

LAW-570 - otimizar processamento da qualificacao e do endereco
  front/src/components/addressField/index.js
  front/src/components/personField/index.js
  front/src/pages/documentDetails/components/tabs/components/docxTemplate/addressField.js
  front/src/pages/documentDetails/components/tabs/components/docxTemplate/personField.js
  front/src/pages/editTemplate/index.js
  front/src/pages/settings/components/signature/plan/index.js
  front/src/states/modules/editTemplate/sagas.js
  server/app/documents/blueprint.py
  server/app/documents/controllers.py
  server/app/documents/formatters/person_variable_text.py
  server/app/documents/formatters/variables_formatter.py
  server/app/documents/remote.py
  server/app/serializers/document_serializers.py
Due: black, eslint

Law 565 - Improve validation in numberField
  front/src/components/numberField/index.js
  front/src/pages/editTemplate/components/form/fields/numberField.js
  front/src/utils/index.js
  front/src/utils/validations/index.js
Due: eslint

LAW-569 - caso seja apenas pessoa fisica ou juridica no person_type
  front/src/components/personField/index.js
  front/src/components/personField/style.js
Due: eslint

Law 564 - Block users from sending templates with invalid form fields
  front/src/pages/editTemplate/components/form/fields/currencyField.js
  front/src/pages/editTemplate/components/form/fields/dateField.js
  front/src/pages/editTemplate/components/form/fields/fieldBase.js
  front/src/pages/editTemplate/components/form/fields/jsonField.js
  front/src/pages/editTemplate/components/form/fields/numberField.js
  front/src/pages/editTemplate/components/form/fields/textField.js
  front/src/pages/editTemplate/components/form/index.js
  front/src/pages/editTemplate/components/signers/index.js
  front/src/pages/editTemplate/components/text/index.js
  front/src/pages/editTemplate/index.js
  front/src/states/modules/editTemplate/index.js
  front/src/states/modules/editTemplate/sagas.js
  front/src/states/modules/editTemplate/selectors.js
Due: eslint

Law 589 - Update CLoudformation to allow user creation in prod cognito.
  devops/cf-templates/lawing-master-template.yaml
  devops/cf-templates/templates/cognito.yaml
  devops/cf-templates/templates/service.yaml
  devops/update-prod-infra.sh
Due: none

Law 541 - Implement emailField widget
  front/src/pages/editTemplate/components/form/page.js
  front/src/pages/editTemplate/components/form/widgets/base/styles.js
  front/src/pages/editTemplate/components/form/widgets/base/widget.js
  front/src/pages/editTemplate/components/form/widgets/base/widgetCard.js
  front/src/pages/editTemplate/components/form/widgets/base/widgetConditional.js
  front/src/pages/editTemplate/components/form/widgets/base/widgetOption.js
  front/src/pages/editTemplate/components/form/widgets/checkboxWidget.js
  front/src/pages/editTemplate/components/form/widgets/currencyWidget.js
  front/src/pages/editTemplate/components/form/widgets/dateWidget.js
  front/src/pages/editTemplate/components/form/widgets/emailWidget.js
  front/src/pages/editTemplate/components/form/widgets/jsonWidget.js
  front/src/pages/editTemplate/components/form/widgets/numberWidget.js
  front/src/pages/editTemplate/components/form/widgets/radioWidget.js
  front/src/pages/editTemplate/components/form/widgets/textWidget.js
Due: eslint

LAW-502 implementacao do autocomplete de CNPJ (Necessario deploy dos templates de dev e prod)
  devops/cf-templates/lawing-master-template.yaml
  devops/cf-templates/templates/service.yaml
  devops/create-infra.sh
  devops/update-dev-infra.sh
  devops/update-prod-infra.sh
  front/src/components/inputFactory/index.js
  front/src/components/personField/index.js
  front/src/components/personField/legalPerson/components/legalCNPJ.js
  front/src/components/personField/legalPerson/components/legalName.js
  front/src/components/personField/legalPerson/index.js
  front/src/components/personField/personAddress/addressCEP.js
  front/src/components/personField/personAddress/addressCity.js
  front/src/components/personField/personAddress/addressCountry.js
  front/src/components/personField/personAddress/addressNumber.js
  front/src/components/personField/personAddress/addressState.js
  front/src/components/personField/personAddress/addressStreet.js
  front/src/components/personField/utils/useFieldsValue.js
  front/src/pages/documentDetails/components/tabs/components/docxTemplate/personField.js
  front/src/pages/documentDetails/components/tabs/index.js
  front/src/states/modules/cnpjField/index.js
  front/src/states/modules/cnpjField/sagas.js
  front/src/states/store.js
  server/.env.sample
  server/app/external/blueprint.py
  server/config.py
Due: black, eslint

Revert "Merge branch 'LAW-502' into 'dev'"
  devops/cf-templates/lawing-master-template.yaml
  devops/cf-templates/templates/service.yaml
  devops/create-infra.sh
  devops/update-dev-infra.sh
  devops/update-prod-infra.sh
  front/src/components/inputFactory/index.js
  front/src/components/personField/index.js
  front/src/components/personField/legalPerson/components/legalCNPJ.js
  front/src/components/personField/legalPerson/components/legalName.js
  front/src/components/personField/legalPerson/index.js
  front/src/components/personField/personAddress/addressCEP.js
  front/src/components/personField/personAddress/addressCity.js
  front/src/components/personField/personAddress/addressCountry.js
  front/src/components/personField/personAddress/addressNumber.js
  front/src/components/personField/personAddress/addressState.js
  front/src/components/personField/personAddress/addressStreet.js
  front/src/components/personField/utils/useFieldsValue.js
  front/src/pages/documentDetails/components/tabs/components/docxTemplate/personField.js
  front/src/pages/documentDetails/components/tabs/index.js
  front/src/states/modules/cnpjField/index.js
  front/src/states/modules/cnpjField/sagas.js
  front/src/states/store.js
  server/.env.sample
  server/app/external/blueprint.py
  server/config.py
Due: black, eslint

LAW-529: Fixing creation date visualization
  server/app/documents/controllers.py
  server/app/migrations/versions/48bd5f3b9c25_.py
  server/app/models/documents.py
Due: black

Fix options propType in widgetOption.js
  front/src/pages/editTemplate/components/form/widgets/base/widgetOption.js
Due: eslint

LAW-559 - aplicando validacao no nome da template
  front/src/pages/editTemplate/index.js
Due: eslint

D4SignAPI call to get document download information
  server/app/d4sign/API/api.py
Due: black

wip
  server/app/d4sign/API/api.py
  server/app/d4sign/controllers.py
Due: black

LAW 595 - Add signup parameter to URL
  front/src/components/authWrapper/index.js
Due: eslint

feat: controller to update document certificate file
  server/app/d4sign/controllers.py
Due: black

feat: update document certificate file when document is updated
  server/app/d4sign/controllers.py
Due: black

feat: controller to generate accessible url for document certificate files
  server/app/d4sign/controllers.py
Due: black

feat: blueprint to fetch an accessible url for a document certificate file
  server/app/d4sign/controllers.py
  server/app/documents/blueprint.py
Due: black

fix: creates the certificate file when it is requested but there is none for the document
  server/app/d4sign/controllers.py
Due: black

Run black
  server/app/d4sign/API/api.py
  server/app/d4sign/controllers.py
  server/app/documents/blueprint.py
Due: black

LAW-598 - adicao de botao de gerar o certificado
  front/src/pages/documentDetails/components/tabs/index.js
  front/src/pages/documentDetails/index.js
  front/src/states/modules/documentDetail/index.js
  front/src/states/modules/documentDetail/sagas.js
Due: eslint

Fix access to user's company
  server/app/d4sign/controllers.py
Due: black

Use user as object on view + revert change
  server/app/d4sign/controllers.py
  server/app/documents/blueprint.py
Due: black

LAW-598 - fazendo o front redirecionar o usuario para o pdf de certificado
  front/src/states/modules/documentDetail/index.js
  front/src/states/modules/documentDetail/sagas.js
Due: eslint

tentando redirecionar a url correta
  front/src/states/modules/documentDetail/sagas.js
Due: eslint

LAW-598 - retirando alguns consoles.log
  front/src/pages/documentDetails/components/tabs/index.js
  front/src/states/modules/documentDetail/sagas.js
Due: eslint

LAW-577: Allow disbled users to create account
  server/app/company/controllers.py
  server/app/users/blueprint.py
Due: black

Remove wrong import
  server/app/company/controllers.py
Due: black

LAW-598: D4Sign document certificates
  server/app/d4sign/API/api.py
Due: black

LAW-603: Adding favorite template feature
  front/src/pages/templates/columns.js
  front/src/pages/templates/index.js
  front/src/states/modules/templates/index.js
  front/src/states/modules/templates/sagas.js
  front/src/states/modules/templates/selectors.js
  server/app/documents/controllers.py
  server/app/migrations/versions/f4439648293b_.py
  server/app/models/documents.py
  server/app/templates/blueprint.py
  server/app/templates/controllers.py
Due: black, eslint

LAW-588 - Resolvendo as multiplas chamadas feitas pelo front
  front/src/components/sidebar/index.js
  front/src/pages/settings/components/companyConfiguration/index.js
  front/src/pages/users/index.js
Due: eslint

Law 556 - Define conditional variables automatically when loading questions
  front/src/components/formFactory/index.js
  front/src/components/inputFactory/index.js
  front/src/pages/editTemplate/components/form/widgets/base/widgetConditional.js
  front/src/states/modules/question/index.js
Due: eslint

LAW-616 - alterar coluna status para usar current_step dentro do documento ao inves do workflow
  front/src/states/modules/contract/selectors.js
  server/app/serializers/document_serializers.py
Due: black, eslint

LAW-599 - Document current step to 'Assinado (m/n)' (D4Sign)
  server/app/d4sign/controllers.py
Due: black

Path conditions:
  black: any of: **/*.py
  eslint: any of: **/*.js
