Repository tatavoSenna/baseflask: changes, and which GitLab CI jobs are due for each by the changed paths.
All: black, eslint

.gitlab-ci.yml:

stages:
  - black
  - eslint
  - test
  - staging

black:
  stage: black
  allow_failure: false
  script:
    - curl https://bootstrap.pypa.io/get-pip.py -o get-pip.py
    - python3 get-pip.py
    - pip3 install black
    - black --check ./server
  rules:
    - if: '$CI_PIPELINE_SOURCE == "merge_request_event"'
      changes:
        - "**/*.py"

eslint:
  stage: eslint
  image: node:latest
  allow_failure: false
  script:
    - cd front
    - yarn add node-sass
    - yarn add eslint --dev
    - yarn add eslint-config-react-app -D \
      eslint-plugin-prettier
    - yarn run eslint . --max-warnings=0
  rules:
    - if: '$CI_PIPELINE_SOURCE == "merge_request_event"'
      changes:
        - "**/*.js"

merge_into_staging:
  stage: staging
  script:
    - curl https://bootstrap.pypa.io/get-pip.py -o get-pip.py
    - python3 get-pip.py
    - pip3 install GitPython
    - pip3 install --upgrade python-gitlab
    - python3 ./devops/staging.py
  only:
    - merge_requests
    - dev

Fix issue of error not raising
  server/app/users/remote.py
Due: black

Law 466 - Skip empty pages based on widget conditionals
  front/src/components/formFactory/index.js
  front/src/components/inputFactory/index.js
  front/src/states/modules/question/index.js
Due: eslint

LAW-507 redirecionamento para o canal no youtube da lawing
  front/src/components/Header/index.js
  front/src/components/Header/index.module.scss
Due: eslint

Law 474 - Add initialValue attribute to new field templates
  front/src/components/formFactory/index.js
  front/src/pages/editTemplate/components/form/page.js
Due: eslint

LAW-531 - alterando a cor do icone de ajuda
  front/src/components/Header/index.module.scss
Due: none

LAW-287: Dowload document with it's name on document details page
  front/src/pages/documentDetails/components/editor/index.js
  front/src/pages/documentDetails/index.js
Due: eslint

LAW-524 - alterando fonte do app para roboto
  front/src/assets/fonts/roboto/Roboto-Black.ttf
  front/src/assets/fonts/roboto/Roboto-BlackItalic.ttf
  front/src/assets/fonts/roboto/Roboto-Bold.ttf
  front/src/assets/fonts/roboto/Roboto-BoldItalic.ttf
  front/src/assets/fonts/roboto/Roboto-Italic.ttf
  front/src/assets/fonts/roboto/Roboto-Light.ttf
  front/src/assets/fonts/roboto/Roboto-LightItalic.ttf
  front/src/assets/fonts/roboto/Roboto-Medium.ttf
  front/src/assets/fonts/roboto/Roboto-MediumItalic.ttf
  front/src/assets/fonts/roboto/Roboto-Regular.ttf
  front/src/assets/fonts/roboto/Roboto-Thin.ttf
  front/src/assets/fonts/roboto/Roboto-ThinItalic.ttf
  front/src/styles/fonts.js
  front/src/styles/global.js
Due: eslint

LAW 471 - Fix onChange callback not being invoked in many widgets
  front/src/components/bankField/index.js
  front/src/components/checkboxField/index.js
  front/src/components/cityField/index.js
  front/src/components/cnaeField/index.js
  front/src/components/cnpjField/index.js
  front/src/components/cpfField/index.js
  front/src/components/currencyField/index.js
  front/src/components/dateField/index.js
  front/src/components/emailField/index.js
  front/src/components/imageField/index.js
  front/src/components/inputFactory/index.js
  front/src/components/numberField/index.js
  front/src/components/percentageField/index.js
  front/src/components/sliderField/index.js
  front/src/components/stateField/index.js
  front/src/components/timeField/index.js
Due: eslint

LAW-482 - Check extension in the Uploader component as a fallback for when the MIME type is unknown
  front/src/components/uploadFile/index.js
  front/src/pages/editTemplate/components/text/index.js
Due: eslint

[LAW-521] Fix texts
  server/app/documents/controllers.py
  server/app/documents/tests/document_test.py
  server/app/users/tests/remote_test.py
  server/app/workflow/services.py
Due: black

Law 517 - Implements collapsible fields and JSON widget
  front/package.json
  front/src/components/deleteConfirm/index.js
  front/src/components/dragDropCard/index.js
  front/src/components/dragDropCard/styles.js
  front/src/pages/editTemplate/components/form/field.js
  front/src/pages/editTemplate/components/form/fields/fieldCard.js
  front/src/pages/editTemplate/components/form/fields/jsonField.js
  front/src/pages/editTemplate/components/form/fields/styles.js
  front/src/pages/editTemplate/components/form/index.js
  front/src/pages/editTemplate/components/form/page.js
  front/src/states/modules/editTemplate/selectors.js
  front/yarn.lock
Due: eslint

LAW-527 - ajuste do formulario
  front/src/components/formFactory/index.js
  front/src/components/formFactory/index.module.scss
Due: eslint

Rollback antd version
  front/package.json
  front/src/pages/editTemplate/components/form/fields/fieldCard.js
  front/src/pages/editTemplate/components/form/fields/styles.js
  front/yarn.lock
Due: eslint

Fix setCurrent being called incorrectly
  front/src/pages/editTemplate/components/form/index.js
Due: eslint

Law-457: Stripe
  devops/cf-templates/lawing-master-template.yaml
  devops/cf-templates/templates/service.yaml
  devops/create-infra.sh
  devops/update-dev-infra.sh
  devops/update-prod-infra.sh
  front/.env.sample
  front/package-lock.json
  front/src/pages/contracts/components/modalStripe.js
  front/src/pages/contracts/index.js
  front/src/pages/settings/components/signature/index.js
  front/src/pages/settings/components/signature/plan/currentPlan.js
  front/src/pages/settings/components/signature/plan/formPortal.js
  front/src/pages/settings/components/signature/plan/index.js
  front/src/pages/settings/components/signature/plan/service/plansService.js
  front/src/pages/settings/index.js
  front/src/states/modules/companies/index.js
  front/src/states/modules/companies/sagas.js
  front/src/states/modules/companies/selectors.js
  front/src/states/modules/contract/index.js
  front/src/states/modules/settings/index.js
  front/src/states/modules/settings/sagas.js
  server/.env.sample
  server/Pipfile
  server/Pipfile.lock
  server/app/company/blueprint.py
  server/app/company/controllers.py
  server/app/documents/controllers.py
  server/app/migrations/versions/15b8e046cb96_.py
  server/app/migrations/versions/87dfe902a760_.py
  server/app/migrations/versions/8f230a318250_.py
  server/app/models/company.py
  server/app/models/user.py
  server/config.py
Due: black, eslint

Law 517 - Implement fieldBase and textField widget
  front/package.json
  front/src/pages/editTemplate/components/form/fields/fieldBase.js
  front/src/pages/editTemplate/components/form/fields/jsonField.js
  front/src/pages/editTemplate/components/form/fields/styles.js
  front/src/pages/editTemplate/components/form/fields/textField.js
  front/src/pages/editTemplate/components/form/index.js
  front/src/pages/editTemplate/components/form/page.js
  front/src/pages/editTemplate/index.js
  front/src/states/modules/editTemplate/index.js
  front/src/states/modules/editTemplate/selectors.js
Due: eslint

Law 545 - Implement currency field
  front/src/components/currencyField/currencyUtils.js
  front/src/components/currencyField/index.js
  front/src/pages/editTemplate/components/form/fields/currencyField.js
  front/src/pages/editTemplate/components/form/fields/jsonField.js
  front/src/pages/editTemplate/components/form/fields/styles.js
  front/src/pages/editTemplate/components/form/page.js
Due: eslint

Law 555 - Use different conditional inputs based on type, adds conditional toggle
  front/src/pages/editTemplate/components/form/fields/currencyField.js
  front/src/pages/editTemplate/components/form/fields/fieldBase.js
  front/src/pages/editTemplate/components/form/fields/fieldConditional.js
  front/src/pages/editTemplate/components/form/page.js
Due: eslint

Law 540 - Implement numberField widget
  front/src/pages/editTemplate/components/form/fields/currencyField.js
  front/src/pages/editTemplate/components/form/fields/fieldBase.js
  front/src/pages/editTemplate/components/form/fields/fieldConditional.js
  front/src/pages/editTemplate/components/form/fields/numberField.js
  front/src/pages/editTemplate/components/form/fields/styles.js
  front/src/pages/editTemplate/components/form/fields/textField.js
  front/src/pages/editTemplate/components/form/page.js
Due: eslint

Law 542 - Implement dateField widget
  front/src/components/dateField/index.js
  front/src/pages/editTemplate/components/form/fields/dateField.js
  front/src/pages/editTemplate/components/form/page.js
Due: eslint

Change stripe price_id depending on environment
  server/app/company/controllers.py
Due: black

LAW-585 - variando as ids de produto do stripe a depender o ambiente
  front/src/pages/settings/components/signature/index.js
  front/src/pages/settings/components/signature/plan/service/plansService.js
Due: eslint

Fix initialValue validation in dateField widget
  front/src/pages/editTemplate/components/form/fields/dateField.js
Due: eslint

Fix date initialvalue
  front/src/components/dateField/index.js
  front/src/pages/editTemplate/components/form/fields/dateField.js
  front/src/utils/index.js
  front/src/utils/validations/index.js
Due: eslint

Fix page creation in the template editor
  front/src/states/modules/editTemplate/index.js
Due: eslint

Force deploy
  server/app/documents/blueprint.py
Due: black

LAW 578 - Redirect to /documents after cancelling document creation inside the platform
  front/src/components/formFactory/index.js
Due: eslint

Remove package-lock file
  front/package-lock.json
Due: none

Update gitlab ci file
  .gitlab-ci.yml
Due: none

Add config-react-app to ci
  .gitlab-ci.yml
Due: none

Test ci
  .gitlab-ci.yml
Due: none

Fix responsible_group var being malformed
  server/app/templates/controllers.py
Due: black

Revert change on node-sass version
  front/package.json
  front/yarn.lock
Due: none

Update node-sass version
  front/package.json
  front/yarn.lock
Due: none

Fix issue with responsible_users var being treated as dict instead of list
  server/app/workflow/services.py
Due: black

Add node-sass to ci
  .gitlab-ci.yml
Due: none

LAW-516 - Implement != conditional operator
  front/src/pages/editTemplate/components/form/fields/fieldConditional.js
  front/src/states/modules/question/index.js
Due: eslint
