Repository tatavoSenna/baseflask: changes, and which GitLab CI jobs are due for each by the changed paths.
All: black, eslint

.gitlab-ci.yml:

stages:
  - black
  - eslint
  - test
  - staging

black:
  stage: black
  allow_failure: false
  script:
    - curl https://bootstrap.pypa.io/get-pip.py -o get-pip.py
    - python3 get-pip.py
    - pip3 install black
    - black --check ./server
  rules:
    - if: '$CI_PIPELINE_SOURCE == "merge_request_event"'
      changes:
        - "**/*.py"

eslint:
  stage: eslint
  image: node:18
  allow_failure: false
  script:
    - cd front
    - yarn add node-sass
    - yarn add -D prettier eslint-plugin-prettier eslint-config-prettier
    - yarn prettier --check .
  rules:
    - if: '$CI_PIPELINE_SOURCE == "merge_request_event"'
      changes:
        - "**/*.js"

merge_into_staging:
  stage: staging
  script:
    - curl https://bootstrap.pypa.io/get-pip.py -o get-pip.py
    - python3 get-pip.py
    - pip3 install GitPython
    - pip3 install --upgrade python-gitlab
    - python3 ./devops/staging.py
  only:
    - merge_requests
    - dev

Fix code formatting detail
  server/app/documents/formatters/variables_formatter.py
Due: black

LAW-auth01 passando o token de auth para a chamada
  front/src/components/databaseField/index.js
  front/src/services/api.js
Due: eslint

Enhances header on external endpoint call
  server/app/documents/formatters/variables_formatter.py
Due: black

adjusting infrastructure
  README.md
  devops/cf-templates/lawing-master-template.yaml
  devops/cf-templates/templates/cloudfront.yaml
  devops/cf-templates/templates/deployment-pipeline-front.yaml
  devops/cf-templates/templates/deployment-pipeline.yaml
  devops/cf-templates/templates/load-balancer.yaml
  devops/cf-templates/templates/s3_storage.yaml
  devops/cf-templates/templates/service.yaml
  front/next.config.js
  front/package.json
  server/.env.sample
  server/README.md
  server/devops/Dockerfile.prod
Due: eslint

Cleaning pip env
  devops/cf-templates/templates/deployment-pipeline-front.yaml
  devops/cf-templates/templates/deployment-pipeline.yaml
  server/Pipfile
  server/Pipfile.lock
  server/devops/Dockerfile.prod
Due: none

Asjust flask app
  devops/cf-templates/lawing-master-template.yaml
  devops/cf-templates/templates/deployment-pipeline.yaml
  devops/cf-templates/templates/service.yaml
  devops/create-infra.sh
  server/.env.sample
  server/.flaskenv
  server/Pipfile
  server/Pipfile.lock
  server/README.md
  server/app/__init__.py
  server/config.py
  server/devops/docker-entrypoint.sh
  server/wsgi.py
Due: black

Adding ccee backend
  devops/cf-templates/templates/service.yaml
  server/.env.sample
  server/Pipfile
  server/Pipfile.lock
  server/app/__init__.py
  server/app/ceee/PrivateKey.key
  server/app/ceee/blueprint.py
  server/app/ceee/certificadoCRT.crt
  server/devops/Dockerfile.dev
  server/docker-compose.yml
Due: black

create-react-app
  front/.eslintrc.json
  front/.gitignore
  front/README.md
  front/next.config.js
  front/package-lock.json
  front/package.json
  front/postcss.config.js
  front/public/favicon.ico
  front/public/index.html
  front/public/logo192.png
  front/public/logo512.png
  front/public/manifest.json
  front/public/next.svg
  front/public/robots.txt
  front/public/vercel.svg
  front/src/App.css
  front/src/App.js
  front/src/App.test.js
  front/src/app/favicon.ico
  front/src/app/globals.css
  front/src/app/layout.tsx
  front/src/app/page.tsx
  front/src/index.css
  front/src/index.js
  front/src/logo.svg
  front/src/reportWebVitals.js
  front/src/setupTests.js
  front/tailwind.config.js
  front/tsconfig.json
Due: eslint

Adding front
  devops/cf-templates/templates/deployment-pipeline-front.yaml
  front/package-lock.json
  front/package.json
  front/src/App.css
  front/src/App.js
  front/src/App.test.js
  front/src/App_old.js
  front/src/DetailedMeasurementForm/DetailedMeasurementForm.js
  front/src/FormContainer/FormContainer.js
  front/src/SimpleMeasurementForm/SimpleMeasurementForm.js
  front/src/data/db.js
  front/src/index.css
  front/src/index.js
  front/src/logo.svg
  front/src/logoRelais.png
  front/src/reportWebVitals.js
  front/src/setupTests.js
  front/src/utils/dateTime.js
  server/devops/Dockerfile.prod
Due: eslint
