Repository tatavoSenna/baseflask: changes, and which GitLab CI jobs are due for each by the changed paths.
All: black, eslint

black:
  stage: black
  allow_failure: false
  script:
  - curl https://bootstrap.pypa.io/get-pip.py -o get-pip.py
  - python3 get-pip.py
  - pip3 install black
  - black --check ./server

eslint:
  stage: eslint
  image: node:18
  allow_failure: false
  script:
  - cd front
  - yarn add node-sass
  - yarn add -D prettier eslint-plugin-prettier eslint-config-prettier
  - yarn prettier --check .

Adjust new database variable scheme
  server/app/documents/formatters/variables_formatter.py
Due: black

Law 828 - Add better html - > docx conversion
  devops/cf-templates/templates/deployment-pipeline-front.yaml
  devops/cf-templates/templates/deployment-pipeline.yaml
  devops/cf-templates/templates/service.yaml
  front/.env.sample
  front/src/pages/documentDetails/components/editor/index.js
  front/src/pages/documentDetails/components/editor/styles.css
  front/src/pages/documentDetails/components/tabs/index.js
  front/src/pages/documentDetails/index.js
  front/src/pages/editTemplate/components/text/editor/index.js
  front/src/pages/editTemplate/components/text/editor/styles.css
  front/src/services/DocumentDetailsService.js
  utilities/contrato-de-prestacao-de-servicos-professores-pf-pj.html
  utilities/download_template_txt.ipynb
Due: eslint

Adjust lint
  front/src/pages/documentDetails/components/editor/styles.css
Due: none

LAW-841 - Movendo o botão de criar nova versão para o lado do botão de download
  front/src/pages/documentDetails/components/headerButtons.js
  front/src/pages/documentDetails/components/tabs/index.js
  front/src/pages/documentDetails/components/tabs/versionView/components/docxVersion.js
  front/src/pages/documentDetails/components/tabs/versionView/components/txtVersion.js
  front/src/pages/documentDetails/components/tabs/versionView/index.js
  front/src/pages/documentDetails/components/tabs/versionView/styles.js
  front/src/pages/documentDetails/index.js
Due: eslint

LAW-844 Acrescentando autocomplete no campo de api
  front/src/components/databaseField/index.js
  front/src/components/databaseField/index.module.scss
  front/src/components/databaseField/searchSelect.js
  front/src/components/databaseField/utils/searchActionTypes.js
  front/src/components/databaseField/utils/searchReducer.js
Due: eslint

LAW-839 - Fazendo com que a lista estruturada seja incluida na Tab de Info e seja editavel
  front/src/components/inputFactory/index.js
  front/src/components/structuredList/index.js
  front/src/components/structuredList/variable.js
  front/src/pages/documentDetails/components/tabs/infoView/components/structureListFieldText.js
  front/src/pages/editTemplate/components/form/fieldStructure.js
  front/src/states/modules/documentDetail/selectors.js
Due: eslint

LAW-852 - colocar o prittier no pre-commit
  front/package.json
Due: none

LAW-856 - ao achar o CEP, preencher o país como Brasil
  front/src/components/addressField/fields/utils/addressChanges.js
  front/src/components/personField/legalPerson/utils/cnpjAutocomplete.js
Due: eslint

LAW-CKEditor - adicionando um h3
  front/src/pages/documentDetails/components/editor/index.js
  front/src/pages/documentDetails/components/editor/styles.css
  front/src/pages/editTemplate/components/text/editor/index.js
  front/src/pages/editTemplate/components/text/editor/styles.css
Due: eslint

Dev
  README.md
  devops/cf-templates/templates/service.yaml
  front/.env.sample
  front/README.md
  front/src/pages/editTemplate/components/text/modal/addVariableModal.js
  server/.env.sample
  server/.test.env
  server/config.py
Due: black, eslint

Dev
  server/.env.sample
  server/config.py
Due: black

HOTFIX - Fix workflow json structure when copying templates
  server/app/templates/controllers.py
Due: black

HOTFIX - reformating files with black 23
  server/app/company/blueprint.py
  server/app/company/controllers.py
  server/app/company/remote.py
  server/app/company/tests/company_test.py
  server/app/d4sign/blueprint.py
  server/app/d4sign/tests/d4sign_controllers_test.py
  server/app/documents/blueprint.py
  server/app/documents/controllers.py
  server/app/documents/formatters/number_formatter.py
  server/app/documents/formatters/time_formatter.py
  server/app/documents/formatters/variables_formatter.py
  server/app/documents/remote.py
  server/app/documents/tests/document_creation_test.py
  server/app/documents/tests/document_test.py
  server/app/docusign/controllers.py
  server/app/internal_database/controllers.py
  server/app/serializers/document_serializers.py
  server/app/templates/remote.py
  server/app/users/controllers.py
  server/app/users/remote.py
  server/wsgi.py
Due: black

Doc display style padrão ao adicionar variavel
  front/Dockerfile
  front/README.md
  front/docker-compose.yml
  front/src/pages/editTemplate/components/form/widgets/base/widget.js
  front/src/pages/editTemplate/components/text/editor/index.module.scss
  front/src/pages/editTemplate/components/text/editor/styles.css
Due: eslint

LAW-885 - fazendo com que o valor inicial do widget de moeda seja salvo
  front/src/pages/documentDetails/components/tabs/index.js
  front/src/pages/editTemplate/components/form/widgets/base/conditionalInputs.js
  front/src/pages/editTemplate/components/form/widgets/currencyWidget.js
  front/src/states/modules/editTemplate/sagas.js
Due: eslint

LAW-889 - documento gerado com a data de criacao dele mesmo
  server/app/documents/controllers.py
  server/app/documents/formatters/variables_formatter.py
Due: black

LAW-879 - usando / no lugar de - na formatacao da data no formulario
  front/src/components/dateField/index.js
Due: eslint

LAW-890 - adicionando a possibilidade da lista estruturada de retornar o numero de itens na lista
  server/app/documents/formatters/structured_list_formatter.py
Due: black

LAW-880 - concertando o problema do input de moeda no formulario
  front/src/components/currencyField/index.js
Due: eslint

LAW-875 - upload doc base e configuracao do servico
  front/src/pages/documentDetails/components/headerButtons.js
  front/src/pages/documentDetails/index.js
  front/src/pages/settings/components/baseDocument/index.js
  front/src/pages/settings/components/baseDocument/service/index.js
  front/src/pages/settings/components/companyConfiguration/index.js
  front/src/pages/settings/components/webhook/index.js
  front/src/pages/settings/index.js
  front/src/pages/settings/styles.js
  front/src/services/DocumentDetailsService.js
  front/src/states/modules/companies/index.js
  server/app/company/blueprint.py
  server/app/company/controllers.py
  server/app/company/remote.py
  server/app/migrations/versions/68a324778ec1_create_base_document.py
  server/app/models/company.py
  server/docker-compose.yml
Due: black, eslint

LAW-886 - atualizar como a moeda aparece na aba info
  front/src/pages/documentDetails/components/tabs/infoView/components/currencyFieldText.js
  front/src/pages/documentDetails/components/tabs/infoView/index.js
  server/app/documents/formatters/variables_formatter.py
Due: black, eslint

LAW-hotfix-imagem - fazendo com que as imagens aparecam no documento
  server/app/documents/formatters/variables_formatter.py
Due: black

LAW-910 - retirando o campo API da lista estruturada
  front/src/pages/editTemplate/components/form/widgets/structuredList/structuredFields.js
Due: eslint

LAW 893 - consertar data na lista estruturada
  front/src/pages/documentDetails/components/tabs/infoView/components/dateFieldText.js
  front/src/pages/documentDetails/components/tabs/infoView/components/structureListFieldText.js
  front/src/pages/editTemplate/components/form/fieldStructure.js
  front/src/states/modules/documentDetail/selectors.js
Due: eslint

LAW-899 - marcando selecao do menu lateral
  front/src/components/mainLayout/index.js
  front/src/components/sidebar/index.js
  front/src/pages/companies/index.js
  front/src/pages/contracts/index.js
  front/src/pages/databaseDetails/index.js
  front/src/pages/databases/index.js
  front/src/pages/settings/index.js
  front/src/pages/templates/index.js
  front/src/pages/users/index.js
Due: eslint

LAW-862 - trocar o título da aba assinantes para signatários
  front/src/pages/documentDetails/components/tabs/index.js
  front/src/pages/editTemplate/index.js
  front/src/states/modules/documentDetail/sagas.js
Due: eslint

LAW-905 - fazendo com que o arquivo baixado tenha o titulo do documento
  front/src/pages/documentDetails/index.js
  front/src/states/modules/documentDetail/sagas.js
Due: eslint

LAW-902 - ao criar nova pagina, adicionar logo após da página atual
  front/src/pages/editTemplate/components/form/index.js
  front/src/states/modules/editTemplate/index.js
  front/src/states/modules/editTemplate/selectors.js
Due: eslint

LAW-923 - colocando os meses do dicionario em letra minuscula
  server/app/documents/formatters/variables_formatter.py
Due: black

LAW-918 - [Side Menu] Não ficar se mexendo quando troca de menu.
  front/src/components/sidebar/index.js
  front/src/components/sidebar/index.module.scss
  front/src/states/modules/settings/index.js
  front/src/states/modules/settings/sagas.js
Due: eslint

LAW-903 - fazendo a interface atualizar apos subir um novo doc
  front/src/pages/settings/components/baseDocument/index.js
  front/src/pages/settings/components/baseDocument/service/index.js
Due: eslint

LAW-916 - adicionando a possibilidade de fazer conta com moeda
  front/src/pages/editTemplate/components/form/fieldStructure.js
  server/app/documents/blueprint.py
  server/app/documents/controllers.py
  server/app/documents/formatters/currency_formatter.py
  server/app/documents/formatters/variables_formatter.py
  server/app/documents/jinja_filters/custom_filters.py
Due: black, eslint

LAW-857 - Lista de pessoas
  front/scripts/build.js
  front/src/components/addressField/fields/components/addressCity.js
  front/src/components/addressField/fields/index.js
  front/src/components/addressField/fields/utils/addressChanges.js
  front/src/components/bankField/index.js
  front/src/components/cityField/index.js
  front/src/components/inputFactory/index.js
  front/src/components/inputFactory/utils/dictImports.js
  front/src/components/personField/attorneyField/attoneyNationality.js
  front/src/components/personField/components/titleSeparator.js
  front/src/components/personField/index.js
  front/src/components/personField/legalPerson/index.js
  front/src/components/personField/legalPerson/index.module.scss
  front/src/components/personField/legalPerson/utils/cnpjAutocomplete.js
  front/src/components/personField/legalPerson/utils/dictsImport.js
  front/src/components/personField/naturalPerson/index.js
  front/src/components/personField/personContent/index.js
  front/src/components/personField/style.js
  front/src/components/textField/index.js
  front/src/pages/documentDetails/components/tabs/infoView/components/personFieldText.js
  front/src/pages/documentDetails/components/tabs/infoView/components/styles/style.js
  front/src/pages/documentDetails/components/tabs/styles.js
  front/src/pages/editTemplate/components/form/fieldStructure.js
  front/src/pages/editTemplate/components/form/widgets/base/styles.js
  front/src/pages/editTemplate/components/form/widgets/base/widgetCommonFields.js
  front/src/pages/editTemplate/components/form/widgets/personWidget.js
  front/src/states/modules/addressField/index.js
  front/src/states/modules/addressField/sagas.js
  server/app/documents/formatters/person_formatter.py
  server/app/documents/formatters/variables_formatter.py
Due: black, eslint

LAW-924 - fazendo com que o campo api mostre o valor de exibicao ao inves do indice
  front/src/components/databaseField/index.js
  front/src/components/databaseField/searchSelect.js
  front/src/pages/documentDetails/components/tabs/infoView/components/apiFieldText.js
  front/src/pages/documentDetails/components/tabs/infoView/index.js
  server/app/documents/formatters/variables_formatter.py
Due: black, eslint

LAW-931 - retornando plain quando o doc_display_style nao tiver valor reconhecido
  server/app/documents/formatters/currency_formatter.py
Due: black

LAW-909 concertando a formatação do campo moeda na lista estruturada na aba de info
  front/src/pages/documentDetails/components/tabs/infoView/components/structureListFieldText.js
  front/src/pages/editTemplate/components/form/index.js
  front/src/pages/editTemplate/components/form/widgets/structuredList/structuredFields.js
  front/src/pages/editTemplate/components/form/widgets/structuredList/structuredFormatted.js
Due: eslint

Update psycopg2 flask sqlalchemy alembic marschmallow
  server/Pipfile
  server/Pipfile.lock
  server/app/__init__.py
  server/app/migrations/env.py
Due: black

HOTFIX, Fixing local env
  server/app/__init__.py
Due: black

HotFix - adjust flask app setup environment for local development
  server/.env.sample
  server/app/__init__.py
  server/app/users/blueprint.py
  server/config.py
Due: black

Endpoint Widget must make authorized calls
  server/app/documents/formatters/variables_formatter.py
Due: black

Path conditions:
  black: any of: **/*.py
  eslint: any of: **/*.js
