Repository tatavoSenna/baseflask: changes, and which GitLab CI jobs are due for each by the changed paths.
All: black, eslint

black:
  stage: black
  allow_failure: false
  script:
  - curl https://bootstrap.pypa.io/get-pip.py -o get-pip.py
  - python3 get-pip.py
  - pip3 install black
  - black --check ./server

eslint:
  stage: eslint
  image: node:latest
  allow_failure: false
  script:
  - cd front
  - yarn add node-sass
  - yarn add eslint --dev
  - yarn add -D prettier eslint-plugin-prettier eslint-config-prettier
  - yarn run eslint . --max-warnings=0

FIX - Fix cnpj and cpf widgets breaking when a initialValue is not present
  front/src/pages/editTemplate/components/form/widgets/CnpjWidget.js
  front/src/pages/editTemplate/components/form/widgets/CpfWidget.js
Due: eslint

Fix cnpj and cpf widgets breaking when a initialValue is not present
  front/src/pages/editTemplate/components/form/widgets/CnpjWidget.js
  front/src/pages/editTemplate/components/form/widgets/CpfWidget.js
Due: eslint

LAW 664 - Fix structured fields widget not validating variable names
  front/src/pages/editTemplate/components/form/index.js
  front/src/pages/editTemplate/components/form/widgets/base/widget.js
Due: eslint

Fix LAW-675 Fix modify document flow for draft docs
  server/app/documents/controllers.py
Due: black

Fix/ckeditor document form
  README.md
  front/src/pages/documentDetails/components/editor/index.js
  server/devops/Dockerfile.dev
  server/docker-compose.yml
Due: eslint

Quickfix draft
  server/app/documents/controllers.py
Due: black

[LAW-688] Upload document to D4Sign as PDF
  server/app/d4sign/controllers.py
  server/app/documents/remote.py
Due: black

LAW 666 - passando pente fino nos widgets de CNPJ e CPF
  front/src/pages/editTemplate/components/form/widgets/CnpjWidget.js
  front/src/pages/editTemplate/components/form/widgets/CpfWidget.js
Due: eslint

LAW 672 - Implement separator widget, fix separator style in the form
  front/src/components/inputFactory/index.js
  front/src/pages/editTemplate/components/form/page.js
  front/src/pages/editTemplate/components/form/widgets/separatorWidget.js
Due: eslint

LAW 674 - corrigindo problema do text area no questionário
  front/src/components/formFactory/index.js
  front/src/components/textAreaField/index.js
Due: eslint

LAW-fix-separador - corrigindo montagem do valor inicial, tratando o caso do separador
  front/src/states/modules/documentDetail/selectors.js
Due: eslint

FIX - Remove CommentsIntegration dead code
  front/src/pages/documentDetails/components/editor/index.js
Due: eslint

Law 717 - Fix equality 'or' conditional, allow string widgets to select multiple values
  front/src/pages/editTemplate/components/form/widgets/checkboxWidget.js
  front/src/pages/editTemplate/components/form/widgets/textWidget.js
  front/src/states/modules/question/index.js
Due: eslint

LAW-684 - fazendo o realiamento do checkbox e radio no formulario
  front/src/components/checkboxField/index.js
  front/src/components/radioField/index.js
Due: eslint

LAW 698 - Allow string-number comparisons
  front/src/pages/editTemplate/components/form/widgets/base/widgetConditional.js
  front/src/states/modules/question/index.js
Due: eslint

Add support for draft on external documents
  server/app/external/blueprint.py
Due: black

Fix not having doc_display_style on string types
  server/app/documents/formatters/variables_formatter.py
Due: black

Fix issue when editing txt or document without variables
  server/app/documents/blueprint.py
  server/app/documents/controllers.py
Due: black

LAW-682 - fazendo com que a criacao de documento nao quebre ao recarregar a pagina
  front/src/pages/addContract/index.js
  front/src/pages/contracts/index.js
Due: eslint

LAW 685 - Implement draft document creation and editing
  front/src/components/cepField/index.js
  front/src/components/formFactory/index.js
  front/src/components/inputFactory/index.js
  front/src/components/personField/naturalPerson/components/personPropertyRegime.js
  front/src/pages/addContract/index.js
  front/src/pages/addContractExternal/index.js
  front/src/pages/documentDetails/components/draftIndicator.js
  front/src/pages/documentDetails/index.js
  front/src/pages/editDocument/index.js
  front/src/states/modules/answer/index.js
  front/src/states/modules/answer/sagas.js
  front/src/states/modules/answer/selectors.js
  front/src/states/modules/documentDetail/sagas.js
  front/src/states/modules/documentDetail/selectors.js
  front/src/states/modules/editContract/index.js
  front/src/states/modules/editContract/sagas.js
  front/src/states/modules/externalContract/sagas.js
  front/src/utils/validations/index.js
Due: eslint

LAW-719 - desabilitando o checkbox estruturado do template
  front/src/pages/editTemplate/components/form/page.js
Due: eslint

Law 699
  server/app/__init__.py
  server/app/company/blueprint.py
  server/app/company/controllers.py
  server/app/company/tests/company_test.py
  server/app/documents/blueprint.py
  server/app/documents/formatters/internal_database_formatter.py
  server/app/documents/formatters/variables_formatter.py
  server/app/internal_database/blueprint.py
  server/app/internal_database/controllers.py
  server/app/internal_database/tests/internal_database_test.py
  server/app/migrations/versions/14e43b7836f9_.py
  server/app/migrations/versions/1ed5c2fb700a_.py
  server/app/models/__init__.py
  server/app/models/company.py
  server/app/models/internal_database.py
  server/app/models/user.py
  server/app/serializers/company_serializers.py
  server/app/serializers/internal_database.py
  server/app/test/factories.py
Due: black

Add text items count on internaldb serialzier
  server/app/internal_database/blueprint.py
  server/app/serializers/internal_database.py
Due: black

Fix idb text count
  server/app/serializers/internal_database.py
Due: black

Feature/download versions
  front/package.json
  front/src/pages/documentDetails/components/editor/index.js
  front/src/pages/documentDetails/components/tabs/index.js
  front/src/services/DocumentDetailsService.js
  front/src/states/modules/documentDetail/index.js
  front/src/states/modules/documentDetail/sagas.js
  front/src/utils/saveAs.js
  front/yarn.lock
Due: eslint

LAW 705 - Implement text database listing page
  front/src/App.routes.js
  front/src/components/sidebar/index.js
  front/src/components/sidebar/index.module.scss
  front/src/pages/databases/columns.js
  front/src/pages/databases/components/modal.js
  front/src/pages/databases/index.js
  front/src/states/modules/databases/index.js
  front/src/states/modules/databases/sagas.js
  front/src/states/modules/databases/selectors.js
  front/src/states/store.js
Due: eslint

LAW-665 implementação do widget de pessoa
  front/src/components/addressField/fields/index.js
  front/src/components/addressField/index.js
  front/src/components/inputFactory/index.js
  front/src/components/personField/index.js
  front/src/components/personField/legalPerson/index.js
  front/src/components/personField/legalPerson/utils/dictsImport.js
  front/src/components/personField/naturalPerson/index.js
  front/src/pages/editTemplate/components/form/page.js
  front/src/pages/editTemplate/components/form/widgets/base/styles.js
  front/src/pages/editTemplate/components/form/widgets/base/widget.js
  front/src/pages/editTemplate/components/form/widgets/base/widgetCommonFields.js
  front/src/pages/editTemplate/components/form/widgets/base/widgetConditional.js
  front/src/pages/editTemplate/components/form/widgets/person/personFields.js
  front/src/pages/editTemplate/components/form/widgets/person/personFieldsTypes.js
  front/src/pages/editTemplate/components/form/widgets/personWidget.js
Due: eslint

LAW-731 allow filtering based on tag ids
  server/app/internal_database/blueprint.py
  server/app/internal_database/controllers.py
  server/app/internal_database/tests/internal_database_test.py
  server/app/models/internal_database.py
Due: black

LAW 706 - Implement text database listing, creation and editing pages
  front/src/App.routes.js
  front/src/components/breadCrumb/index.js
  front/src/components/creationModal/modal.js
  front/src/components/dataTable/index.js
  front/src/pages/databaseDetails/columns.js
  front/src/pages/databaseDetails/components/databaseItemsListing.js
  front/src/pages/databaseDetails/components/databaseTextEditor.js
  front/src/pages/databaseDetails/index.js
  front/src/pages/databases/index.js
  front/src/pages/editTemplate/index.js
  front/src/states/modules/databaseDetail/index.js
  front/src/states/modules/databaseDetail/sagas.js
  front/src/states/modules/databaseDetail/selectors.js
  front/src/states/modules/databases/sagas.js
  front/src/states/store.js
  server/app/internal_database/blueprint.py
Due: black, eslint

feature/sign-document
  server/app/d4sign/API/api.py
  server/app/d4sign/controllers.py
  server/app/documents/controllers.py
Due: black

[LAW-358-b] Add Step Editing Modal
  front/src/pages/documentDetails/components/tabs/index.js
  front/src/pages/documentDetails/components/tabs/stepModal.js
  front/src/pages/documentDetails/index.js
  front/src/states/modules/documentDetail/index.js
  front/src/states/modules/documentDetail/sagas.js
  server/Pipfile
  server/Pipfile.lock
  server/app/documents/blueprint.py
  server/app/documents/controllers.py
  server/app/documents/tests/document_test.py
  server/app/workflow/services.py
Due: black, eslint

LAW-704 - Widget, info, questionario e edit do banco de dados de texto
  front/src/components/infoField/index.js
  front/src/components/inputFactory/index.js
  front/src/components/internalDatabaseField/index.js
  front/src/pages/documentDetails/components/tabs/infoView/components/databaseFieldText.js
  front/src/pages/documentDetails/components/tabs/infoView/index.js
  front/src/pages/editTemplate/components/form/page.js
  front/src/pages/editTemplate/components/form/widgets/base/styles.js
  front/src/pages/editTemplate/components/form/widgets/internalDatabaseWidget.js
  front/src/states/modules/internalDatabasesField/index.js
  front/src/states/modules/internalDatabasesField/sagas.js
  front/src/states/store.js
Due: eslint

LAW-333 Send document variables on webhook
  server/app/documents/controllers.py
Due: black

HOTFIX - Text Database item filtering by tag
  server/app/internal_database/blueprint.py
Due: black

HOTFIX - Adjust formating for black
  server/app/internal_database/blueprint.py
Due: black

LAW 724 - Allow image fields to be edited
  front/src/components/imageField/index.js
  front/src/components/inputFactory/index.js
  front/src/states/modules/answer/index.js
  front/src/states/modules/answer/sagas.js
  front/src/states/modules/answer/selectors.js
  front/src/states/modules/documentDetail/selectors.js
  server/app/documents/controllers.py
Due: black, eslint

[LAW -740] Fix tests
  server/app/company/controllers.py
  server/app/company/tests/company_test.py
  server/app/d4sign/tests/d4sign_controllers_test.py
  server/app/documents/controllers.py
  server/app/documents/tests/document_creation_test.py
  server/app/documents/tests/document_test.py
  server/app/internal_database/blueprint.py
Due: black

LAW-720 Widget de lista estruturada
  front/src/pages/editTemplate/components/form/fieldStructure.js
  front/src/pages/editTemplate/components/form/page.js
  front/src/pages/editTemplate/components/form/widgets/addressWidget.js
  front/src/pages/editTemplate/components/form/widgets/bankWidget.js
  front/src/pages/editTemplate/components/form/widgets/base/conditionalInputs.js
  front/src/pages/editTemplate/components/form/widgets/base/styles.js
  front/src/pages/editTemplate/components/form/widgets/base/widget.js
  front/src/pages/editTemplate/components/form/widgets/base/widgetCard.js
  front/src/pages/editTemplate/components/form/widgets/base/widgetCommonFields.js
  front/src/pages/editTemplate/components/form/widgets/base/widgetConditional.js
  front/src/pages/editTemplate/components/form/widgets/checkboxWidget.js
  front/src/pages/editTemplate/components/form/widgets/cnaeWidget.js
  front/src/pages/editTemplate/components/form/widgets/currencyWidget.js
  front/src/pages/editTemplate/components/form/widgets/databaseWidget.js
  front/src/pages/editTemplate/components/form/widgets/dateWidget.js
  front/src/pages/editTemplate/components/form/widgets/dropdownWidget.js
  front/src/pages/editTemplate/components/form/widgets/emailWidget.js
  front/src/pages/editTemplate/components/form/widgets/index.js
  front/src/pages/editTemplate/components/form/widgets/jsonWidget.js
  front/src/pages/editTemplate/components/form/widgets/numberWidget.js
  front/src/pages/editTemplate/components/form/widgets/radioWidget.js
  front/src/pages/editTemplate/components/form/widgets/separatorWidget.js
  front/src/pages/editTemplate/components/form/widgets/structuredList/structuredFields.js
  front/src/pages/editTemplate/components/form/widgets/structuredList/structuredFormatted.js
  front/src/pages/editTemplate/components/form/widgets/structuredListWidget.js
  front/src/pages/editTemplate/components/form/widgets/textWidget.js
  front/src/pages/editTemplate/components/form/widgets/timeWidget.js
Due: eslint

LAW-720-fix - retornando o json do banco de dados e retornando a importacao dele nos widgets
  front/src/pages/editTemplate/components/form/fieldStructure.js
  front/src/pages/editTemplate/components/form/widgets/index.js
  front/src/pages/editTemplate/components/form/widgets/internalDatabaseWidget.js
Due: eslint

Path conditions:
  black: any of: **/*.py
  eslint: any of: **/*.js
